/* multiple selector using v */
html, body{
/* viewport width */
width: 100vw;
/* vh = viewport height */
height: 100vh;
/* removing scroll */
overflow: hidden;
/* if i want to see the entire border, I need to change the margin to zero */
margin: 0;
/* change calculation to use border-box to include margin, border, and padding */
/* do i want a little scroll...? */
box-sizing: border-box;

}

/*  separate selector for just body */
body{
    padding: 10px;

border: 10px solid red;

}

.parent{


background-color: orange;
position: relative;
z-index: 1;

}

.child{


background-color: yellow;
position: absolute;
top: 0;
right: 33%;
z-index: -100;
}

.child-2{


    position: relative;
    z-index: 1;
}