/* adding width and height */
/* really good css for every webpage ever */

body{

height: 100%;
width: 100%;
margin: 0;


}

#text{

width: 500px;

height: 500px;

background-color: cyan;

margin-top: 40px;

margin-left: 100px;

}